.total,.but,.ajout{
    float: right;
}

.art{
    margin-left: 60%;
}

.info{
    margin-right: 50%;
}
.ttc{
    margin-bottom: 20px;
    margin-right: 80px;
}
.val{
   
    margin-bottom: 50%;
}
.cli{
   
    margin-bottom: 1%;
}